.custom-wrapper {
  margin: 0 auto;
  padding: 40px 0px 0px 0px;
}

@media only screen and (max-width: 1280px) {
  .custom-wrapper {
    padding: 40px 1rem 0px 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .custom-wrapper {
    padding: 40px 5rem 0px 5rem;
  }
}
