@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base{
  body {
      /* @apply dark:bg-[#0F151B] bg-[#f8f9fa] */
      @apply dark:bg-[#0b0f13] bg-[#f8f9fa]
  }
}
.inter {
  font-family: var(--font-inter);
}

.lexend {
  font-family: var(--font-lexend);
}